<%= simple_form_for(@issue) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  
  <div class="form-inputs">
    <%= f.input :project_id, collection: @project_array.map { |element| [element["name"], element["id"]]}, include_blank: false %>
    <%= f.input :short_description %>
    <%= f.input :detailed_description, as: :text %>
    <%= f.input :steps_to_reproduce, as: :text  %>
    <%= f.hidden_field :status, :value => "open" %>
    <%= f.input :priority, :collection => ["normal", "medium", "urgent"] %>
    <%= f.input :assigned_to, collection: @user_array.map { |element| [element["full_name"], element["id"]]}, include_blank: true %>
    <%= f.hidden_field :user_id, :value => session[:current_user_id] %> 
    <%= f.input :contact_user_id, :label => "Project contact", collection: @user_array.map { |element| [element["full_name"], element["id"]]}, include_blank: true %>
  </div>



  <div class='comment'>

  <%# <ul> %>
    <%= f.simple_fields_for :comments do |comment| %>
      <%= render 'issues/comment_fields', f: comment %>

      <%# <li>  %>
        <%#= comments_form.label :comment %>
        <%#= comments_form.text_area :comment %>
        <%#= comments_form.hidden_field :_destroy %>
        <%#= link_to "remove", '#', class: "remove_fields" %> 
      <%#  </li>  %>
    
    <% end %>
     <%# </ul> %>
     <div class="links">
      <%= link_to_add_association "Add Comment", f, :comments, partial: 'issues/comment_fields'  %>
    </div>

  </div>
 
 <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
