<%= simple_form_for(@issue) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  
  
  <div class="form-inputs">
    <%= form.select :project_id, @project_array.map { |element| [element["name"], element["id"]]}, include_blank: false %>
    <%= form.input :short_description %>
    <%= form.input :detailed_description, as: :text %>
    <%= form.input :steps_to_reproduce, as: :text  %>
    <%= form.hidden_field :status, :value => "open" %>
    <%= form.input :priority, :collection => ["normal", "medium", "urgent"] %>
    <%= form.select :assigned_to, @user_array.map { |element| [element["full_name"], element["id"]]}, include_blank: true %>
    <%= form.hidden_field :user_id, :value => session[:current_user_id] %> 
    <%= form.select :contact_user_id, @user_array.map { |element| [element["full_name"], element["id"]]}, include_blank: true %>
  </div>



  <div class='comment'>

  <%# <ul> %>
    <%= form.simple_fields_for :comment do |comment| %>
      <%= render 'issues/comment_fields', form: comment %>

      <%# <li>  %>
        <%#= comments_form.label :comment %>
        <%#= comments_form.text_area :comment %>
        <%#= comments_form.hidden_field :_destroy %>
        <%#= link_to "remove", '#', class: "remove_fields" %> 
      <%#  </li>  %>
    
    <% end %>
  <%# </ul> %>
     <div class="links">
      <%= link_to_add_fields "Add Comment", form, :comment %>
    </div>

  </div>
 
 <div class="form-actions">
    <%= form.submit %>
  </div>
<% end %>
