<div id="<%= dom_id issue %>">
  <p>
    <strong>Creation date:</strong>
    <%= issue.creation_date %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= issue.short_description %>
  </p>

  <p>
    <strong>Detailed description:</strong>
    <%= issue.detailed_description %>
  </p>

  <p>
    <strong>Steps to reproduce:</strong>
    <%= issue.steps_to_reproduce %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= issue.assigned_to %>
  </p>

  <p>
    <strong>Target resolution date:</strong>
    <%= issue.target_resolution_date %>
  </p>

  <p>
    <strong>Resolution date:</strong>
    <%= issue.resolution_date %>
  </p>

</div>
