<div id="<%= dom_id issue %>">

  <p>
    <strong>Project:</strong>
    <% project_instance = Project.find(issue.project_id) %>
    <%= project_instance.name%>
  </p>

  <p>
    <strong>Last upated:</strong>
    <%= issue.updated_at %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= issue.created_at %>
  </p>
 
  <p>
    <strong>Short description:</strong>
    <%= issue.short_description %>
  </p>

  <p>
    <strong>Detailed description:</strong>
    <%= issue.detailed_description %>
  </p>

  <p>
    <strong>Steps to reproduce:</strong>
    <%= issue.steps_to_reproduce %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= issue.assigned_to %>
  </p>

  <p>
    <strong>Resolution date:</strong>
    <%= issue.resolution_date %>
  </p>

  <p>
    <strong>Contact:</strong>
    <% user_instance_contact = User.find(issue.contact_user_id) %>
    <%= user_instance_contact.first_name%> <%= user_instance_contact.last_name%>: <%= user_instance_contact.email%>
  </p>

  <p>
    <strong>Ticket created by:</strong>
    <% user_instance = User.find(issue.user_id) %>
    <%= user_instance.first_name%> <%= user_instance.last_name%>
  </p>

</div>
