<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= user.title %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= user.department %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= user.profile %>
  </p>

</div>
