<div id="<%= dom_id user %>">
  
  <td>
    <%= user.first_name %>
  </td>
  <td>
    <%= user.last_name %>
  </td>
  <td>
    <%= user.title %>
  </td>
  <td>
    <%= user.department %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.profile %>
  </td>
  <td>
      <% if !user.deactivated %>
        <span class="badge rounded-pill text-bg-info text-white">
          <%= "Active" %>
        </span>
      <% else %>
        <span class="badge rounded-pill text-bg-danger">
          <%= "Inactive" %>
        </span>
      <% end %>
  </td>

</div>
