<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Lead first name:</strong>
    <%= project.lead_first_name %>
  </p>

  <p>
    <strong>Lead last name:</strong>
    <%= project.lead_last_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Time frame for completion:</strong>
    <%= project.time_frame_for_completion %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= project.creation_date %>
  </p>

</div>
