<div id="<%= dom_id project %>">
  
    <td>
      <%= project.name %>
    </td>
    <td>
      <%= project.description %>
    </td>
    <td>
      <%= project.time_frame_for_completion %>
    </td>
    <td>
      <%= project.created_at %>
    </td>
    <td>
      <% user_instance = User.find(project.user_id) %>
      <%= user_instance.first_name%> <%= user_instance.last_name%>
    </td>
    <td>
      <%= project.status %>
    </td>

</div>

